body {
  font-family: times;
  background-color:#f1e3dd;
  color: #667292;
}

.container {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
}

img {
  max-width: 35%;
  max-height: 35%;
border-radius: 20%;
float: right;
position: -webkit-sticky;
position: sticky;


}
a {
  color:	#8d9db6;
  text-decoration: none;
  padding-right:  10px;
}
